@import '../../styles/colors.scss';

.gridContainer {
    padding: 0;
    height: 100vh;
    background: $base-blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .items {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4em;
        letter-spacing: 0.1em;
        color: white;
        width: 660px;
        height: 580px;
        transition: all 0.3s ease-in;

        &:hover {
            // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            // opacity: 0.7;
        }
    }
    .items.fullScreen {
        width: 100vw;
        height: 100vh;
        transform: scale();
    }
    #About {
        background: $base-light-blue;
    }
    #Experience {
        background: $base-red;
    }
    #Projects {
        background: $base-dark-blue;
    }
    #Contact {
        background: $base-navy-blue2;
    }
}
