// $base-navy-blue: #2c3e50;
// $base-red: #e74c3c;
// $base-white: #ecf0f1;
// $base-light-blue: #3498db;
// $base-blue: #2980b9;

$base-navy-blue2: #24305e;
$base-red: #f76c6c;
$base-light-blue: #a8d0e6;
$base-dark-blue: #374785;
$base-yellow2: #f8e9a1;

$base-yellow: #f7f5e6;
$base-navy-blue: #333a56;
$base-blue: #52658f;
$base-grey: #e8e8e8;

//#2C3E50 navy blue
$dark-grey: #2b3a42;
$grey-blue: #3f5765;
$light-grey-blue: #bdd4de;
$light-grey: #efefef;
$bright-orange: #ff530d;
