@import '../../styles/colors.scss';

main {
    background-image: url('../../assets/images/Sunset-abstract-minimalism-2K-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.layoutContainer {
    padding: 0;
    // background: rgb(26, 34, 36);
    .nav {
        font-size: larger;
        min-height: 80px;
    }
}
